body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #adbbda, #ede8f5);
}

h3 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: start;
}

/* Container  */
.merits.index.content {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: #adbbda;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.button {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    float: right;
}

.button:hover {
    background-color: #0056b3;
}

/* Table Styles */
.table-responsive {
    overflow-x: auto;
}

table {
    width: 98%;
    margin-bottom: 20px;
}

table thead {
    background-color: #adbbda;
    color: #0056b3;
}

table th, table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #e9ecef;
}

table th {
    font-weight: bold;
}

/* Action Links */
.actions a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}

.actions a:hover {
    color: #0056b3;
}

/* Paginator Styles */
.paginator {
    text-align: center;
    margin-top: 20px;
}

.paginator .pagination {
    list-style: none;
    padding: 0;
    display: inline-flex;
    gap: 10px;
}

.paginator .pagination li {
    display: inline;
}

.paginator .pagination a {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.paginator .pagination a:hover {
    cursor: default;
    background-color: #007bff;
    color: #ffffff;
}

.paginator p {
    margin-top: 10px;
    color: #555;
    font-size: 14px;
}
