body {
    background: var(--primary-bg);
}

.darkBlue-text {
    color: var(--text-color);
}

h3:hover {
    cursor: default;
    letter-spacing: 3px;
}

.form-floating {
    background: var(--card-bg);
}

/* footer */
footer {
    background: var(--secondary-bg);
}